#body {
    font-family: 'Roboto', sans-serif;
}

#bodynl {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: aliceblue;
    width: 100%;
    height: auto;
}

.menu {
    list-style: none;
    padding: 0;
    background-color: #333;
}

.menu li {
    display: inline-block;
    position: relative;
}

.menu a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}

/* Stijl voor het submenu */
.menu .submenu ul.submenu-list {
    display: none;
    position: absolute;
    background-color: #555;
    z-index: 1;
    top: 100%;
    left: 0;
}

.menu .submenu:hover ul.submenu-list {
    display: block;
}

/* Stijl voor het subsubmenu */
.menu .submenu .subsubmenu ul.subsubmenu-list {
    display: none;
    position: absolute;
    background-color: #777;
    z-index: 1;
    top: 0;
    left: 100%;
}

.menu .submenu .subsubmenu:hover ul.subsubmenu-list {
    display: block;
}

/* Stijl voor hover-effect op hoofdmenu-items */
.menu li:hover a {
    background-color: #555;
}